#head_style {
  font-size: 250%;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  color: #999999;
  border-radius: 3px;
  border-left: 10px solid #6799FF;
  padding: 3px 15px;
  padding-bottom: 5px;
  margin: 5px 0;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  BORDER-BOTTOM: #6799FF 1px solid;
  BACKGROUND-COLOR: rgba(12, 170, 247, 0.17);
  font-size: 3vmax;
  line-height: 4vmax;
}

#table_1 {
  padding-top: 1%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#txt_centered {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

#div_img_style {
  float: left;
  width: 50%;
}

.emotion_img_style {
  width: 50%;
  height: 50%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.result_img_style {
  width: 80%;
  height: 100%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: static
}

#table_2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.input_txt_style {
  width: 100%;
  background-color: transparent;
  border: none;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: large
}

#table_3 {
  padding-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table.table_4 {
  width: 80%;
  list-style: none;
  margin: 0 auto;
  display: table;
}

table.table_4 details {
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
  font-size: 15px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

table.table_4 details:last-child {
  border-bottom: 0px;
}

table.table_4 details:before {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}

table.table_4 details:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

summary:focus {
  outline: none;
}

input:focus {
  outline: none;
}

table.table_5 a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

table.table_5 a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

table.table_5 a:active,
table.table_5 a:hover {
  color: #bd5a35;
  text-decoration: underline;
}

table.table_5 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  background: #eaebec;
  margin-top: 20px;
  margin-bottom: 10px;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}

table.table_5 th {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table.table_5 th:first-child {
  text-align: left;
  padding-left: 20px;
}

table.table_5 tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

table.table_5 tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

table.table_5 tr {
  text-align: center;
  padding-left: 20px;
}

table.table_5 td:first-child {
  width: 20%;
  text-align: center;
  padding-left: 20px;
  border-left: 0;
}

table.table_5 td {
  width: 33%;
  padding: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table.table_5 tr.even td {
  background: #dfdfdf;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#dfdfdf));
  background: -moz-linear-gradient(top, #dfdfdf, #dfdfdf);
}

table.table_5 tr:last-child td {
  border-bottom: 0;
}

table.table_5 tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table.table_5 tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table.table_5 tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.button_style {
  border-radius: 5px;
  width: 30%;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

#button_group {
  width: auto;
  height: auto;
  padding-top: 10px;
}

#button_group input {
  border: 1px solid skyblue;
  background-color: skyblue;
  color: white;
  border-width: 3px 3px 3px 3px float: left;
}

#button_group input:hover {
  color: skyblue;
  background-color: white;
}

#btn_centered {
  text-align: center;
  margin: 0 auto;
}

.txtBox01bg {
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  word-break: break-all;
  border-color: DodgerBlue;
  background-color: rgba(30, 144, 255, 0.2);
}

.txtBox00 {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  word-break: break-all;
  border-color: LightGray;
}

.txtBox00r {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  word-break: break-all;
  border-color: LightGray;
  border-radius: 8px;
}

.txtBox10bg {
  border-style: solid;
  border-width: 2 2 2 8px;
  padding: 15px;
  word-break: break-all;
  border-color: LightGray;
  background-color: rgba(211, 211, 211, 0.2);
}
