#head_style {
  font-size: 250%;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  color: #999999;
  border-radius: 3px;
  border-left: 10px solid #6799FF;
  padding: 3px 15px;
  padding-bottom: 5px;
  margin: 5px 0;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  BORDER-BOTTOM: #6799FF 1px solid;
  BACKGROUND-COLOR: rgba(12, 170, 247, 0.17);
  font-size: 3vmax;
  line-height: 4vmax;
}

#face_button_style {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(10%, -50%);
  width: 45%;
  height: 75%;
  right: 50%;
}

#voice_button_style {
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(0%, -50%);
  width: 45%;
  height: 75%;
  right: 0;
}

#img_style {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

button:hover {
  color: white;
  background-color: rgba(60, 188, 228, 0.21);
}

button:active {
  background-color: rgba(1, 163, 254, 0.21);
}

button:focus {
  outline: none;
}
