#head_style {
  font-size: 250%;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  color: #999999;
  border-radius: 3px;
  border-left: 10px solid #6799FF;
  padding: 3px 15px;
  padding-bottom: 5px;
  margin: 5px 0;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  BORDER-BOTTOM: #6799FF 1px solid;
  BACKGROUND-COLOR: rgba(12, 170, 247, 0.17);
  font-size: 3vmax;
  line-height: 4vmax;
}

#head_centered {
  padding-top: 3px;
  text-align: center;
  margin: 0 auto;
}

#centered {
  text-align: center;
  margin: 0 auto;
}

.input_txt_style {
  width: 100%;
  background-color: transparent;
  display: none;
  border: none;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: large
}

#button_group {
  width: auto;
  height: auto;
  padding-top: 30px;
}

#button_group input {
  border: 1px solid skyblue;
  background-color: skyblue;
  color: white;
  border-width: 3px 3px 3px 3px float: left;
}

#button_group input:hover {
  color: skyblue;
  background-color: white;
}

.analysis_btn_style {
  border-radius: 5px;
  width: 30%;
  height: 80px;
}

.clear_btn_style {
  border-radius: 5px;
  width: 30%;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
}


.home_btn_style {
  border-radius: 5px;
  width: 30%;
  height: 80px;
}

.txtBox01bg {
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  word-break: break-all;
  border-color: DodgerBlue;
  background-color: rgba(30, 144, 255, 0.2);
}

.txtBox00bg {
  border-style: solid;
  font-size: 25px;
  border-width: 2px;
  padding: 12px;
  word-break: break-all;
  border-color: LightGray;
  background-color: rgba(211, 211, 211, 0.2);
}
