#head_style {
  font-size: 250%;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  color: #999999;
  border-radius: 3px;
  border-left: 10px solid #6799FF;
  padding: 3px 15px;
  padding-bottom: 5px;
  margin: 5px 0;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  BORDER-BOTTOM: #6799FF 1px solid;
  BACKGROUND-COLOR: rgba(12, 170, 247, 0.17);
  font-size: 3vmax;
  line-height: 4vmax;
}

#head_centered {
  padding-top: 3px;
  text-align: center;
  margin: 0 auto;
}

#player_centered {
  text-align: center;
  margin: 0 auto;
}

.player_style {
  padding-top: 20px;
  width: 85%;
}

#div_left {
  float: left;
  width: 60%;
}

#div_center {
  float: left;
  width: 1px;
}

.clear_btn_style {
  border-radius: 5px;
  width: 80%;
  height: 80px;
  position: static;
  margin-top: 5%;
}

.home_btn_style {
  border-radius: 5px;
  width: 80%;
  height: 80px;
  margin-top: 5%
}

#button_group {
  margin-left: 0px;
  float: left;
  width: 25%;
  right: 65px;
  padding-top: 20px;
  margin-left: 10px;
}

#button_group input {
  border: 1px solid skyblue;
  background-color: skyblue;
  color: white;
  border-width: 3px 3px 3px 3px float: left;
}

#button_group input:hover {
  color: skyblue;
  background-color: white;
}

#button_group input:focus {
  outline: none;
}
