<html>

<head>
  <title>Find your emotion music</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/analysis_result.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

</head>

<body>
  <h1 id="head_style">Music recommendation system</h1>
  <div>
    <table id="table_1">
      <tr>
        <td class="txtBox10bg" width=200px>
          <p id="txt_centered"><b>Analysis result</p>
        </td>
      </tr>
      <tr>
        <td class="txtBox00">
          <div id="div_img_style">
            {% if emotion_src %}
            <img class="emotion_img_style" id="emotion_img" src="{{ emotion_src }}">
            {% endif %}
          </div>
          <div id="div_img_style">
            {% if True %}
            <img class="result_img_style" id="result_img" src="{{ result_src }}">
            {% endif %}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table id="table_2">
      <tr>
        <td class="txtBox00r" width=200px>
          {% if emotion_str %}
          <input type="text" disabled class="input_txt_style" value="{{ emotion_str }}">
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table id="table_3">
      <tr>
        <td class="txtBox10bg" width=200px>
          <p id="txt_centered"><b>Recommended Music</p>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="table_4">
      <tr>
        <td class="txtBox00r" id="min" width=200px>
          <script>
            $.getJSON('/recommend_result', function(data) {
              document.getElementById('min').innerHTML = data;
            });
          </script>
        </td>
      </tr>
    </table>
  </div>
  <div id="button_group">
    <p id="btn_centered">
      <input class="button_style" type="button" value="초기화면" onclick="location.href='/index'">

      </button>
    </p>
  </div>
</body>

</html>
