<!doctype html>
<html lang="ko">
<html>

<head>
  <title>Face expression recognition</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/face_emotion_analysis.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/face_script.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  </script>
</head>

<body>
  <h1 id="head_style">Music recommendation system</h1>
  <h2 id="head_centered">Face emotion analysis</h2>

  <div id="div_left">
    <p id="player_centered">
      <img class="player_style" id="changed_img" src="{{  url_for('video_feed') }}">
    </p>
  </div>

  <div id="div_center"></div>

  <div id="button_group">
    <input type="button" class="analysis_btn_style" id="analysis_btn" value="분석하기" onclick="javascript:btnEvent('analysis_btn')"></input>
    <input type="button" class="clear_btn_style" id="clear_btn" value="초기화" onclick="window.location.reload(true)"></input>
    <input type="button" class="home_btn_style" id="home_btn" value="Home" onclick="location.href='/index'"></input>
  </div>
</body>

</html>
