<!doctype html>
<html lang="ko">
<html>

<head>
  <title>Find your emotion music</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
  <h1 id="head_style">Music recommendation system</h1>

  <button class="face_btn" id="face_button_style" type="button" onclick="javascript:check_face()"><img id="img_style" src="{{ url_for('static', filename='img/fe.png') }}">
    <pid id="text_style"><br><br /><br /><br /><b>Face Emotion Analysis</p>
  </button>

  <button class="voice_btn" id="voice_button_style" type="button" onclick="javascript:check_voice()"><img id="img_style" src="{{ url_for('static', filename='img/voice.png') }}">
    <p id="text_style"><br><br /><b>Voice Emotion Analysis</p>
  </button>
</body>

</html>
