<!doctype html>
<html lang="ko">
<html>

<head>
  <title>Face expression recognition</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</head>

<body>
  <h1 id="head_style">Music recommendation system</h1>
  <h2 id="head_centered">Face emotion analysis</h2>

  <div id="div_left">
    <p id="player_centered">
      <img class="player_style" id="frame">
    </p>
  </div>
  <div id="div_center"></div>
  <div id="button_group">
    <form action="http://192.168.184.15:8081/testUp" method="POST" enctype="multipart/form-data">
      <input type="file" accept="image/*" id="camera" name="camera" class="clear_btn_style" />
      <input type="submit" class="clear_btn_style" value="분석하기" />
    </form>
    <script>
      var camera = document.getElementById('camera');
      var frame = document.getElementById('frame');

      camera.addEventListener('change', function(e) {
        var file = e.target.files[0];
        // Do something with the image file.
        frame.src = URL.createObjectURL(file);
        frame.style.height = '400px';
        frame.style.width = '400px';
      });
    </script>
    <input type="button" class="home_btn_style" id="home_btn" value="Home" onclick="location.href='/index'"></input>
  </div>
</body>

</html>
