<html>

<head>
  <title>Face expression recognition</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/voice_emotion_analysis.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/voice_script.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <!---->
</head>

<body>
  <h1 id="head_style">Music recommendation system</h1>
  <h2 id="head_centered">Voice emotion analysis</h2>

  <h3 class="txtBox01bg">
    <p id="hide_h3" style="display:none">
      Tell me now...{{ testDataHtml }}
    </p>
  </h3>
  <h4 id="centered">
    <p class="txtBox00bg">
      <input type="text" disabled class="input_txt_style" id="hide_h4" value="nothing">
    </p>
  </h4>
  <div id="button_group">
    <p id="centered">
      <input type="button" class="analysis_btn_style" id="analysis_btn" value="분석하기" onclick="javascript:show_txt('hide_h3', 'hide_h4', 'analysis_btn')">
      </input>
      <input type="button" class="clear_btn_style" id="clear_btn" value="초기화" onclick="window.location.reload(true)">
      </input>
      <input type="button" class="home_btn_style" id="home_btn" value="home" onclick="location.href='/index'">
      </input>
    </p>
  </div>
</body>

</html>
